<!DOCTYPE html>
<html>
  <head>
    <title>WatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <div>
          <%= link_to 'Watchlist', lists_path, class: "text-slate-100" %>
        </div>
        <div>
          <%= link_to 'Add new list', new_list_path, class: "text-slate-100" %>
        </div>
      </div>
    </nav>


    <main class="container mx-auto mt-28 px-5P">
      <%= yield %>
    </main>
  </body>
</html>
